<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="pull-left">Contacts</h4>
      </div>
    </div>
    <div class="pull-right pad-left-right">
      <button class="pull-right btn btn-success">New Contact</button>
    </div>
    <div class="row">
    <div class="col-xs-12">
      <app-contact-item 
      *ngFor="let contactEl of contacts" 
      [contact]="contactEl"></app-contact-item>
    </div>
</div>

   
   