
<div class="panel panel-default">
	<div class="panel-heading">
		<h4></h4>
		<div class="row">
			<span class="pull-left">
				<img src=" " alt="" class="img-responsive" style="max-height: 100px;">
			</span>

			<span class="pull-right btn-toolbar" style="margin-top: 35px;">
				<a class="btn btn-primary">Edit</a>
				<a class="btn btn-danger">Delete</a>
			</span>
		</div>
	</div>
    <div class="panel-body">
		<p>Email: </p>
		<p>Phone: </p>
	
			<div class="row">
				<div class="col-xs-12">
					<div class="pull-left">
						<p class="list-group-item-heading"></p>
					</div>
					<span class="pull-right">
						<img src="" alt="" class="img-responsive" style="max-height: 80px;">
					</span>
                </div>
            </div>
    </div>
</div>